.grey {
  position: absolute;
  height: 50px;
  background-color: #cdcec0;
  padding-bottom: 1em;
  bottom: 0;
  width: 100%;
}

.contain {
  margin-left: auto;
  margin-right: auto;
}
.right-footer {
  position: absolute;
  right:5%;
  margin-top:10px;
  textDecoration:none;
  color:white;
}
.right-footer-item {
  color: white;
  margin-right: 20px;
}